<div class="background">
    <div class="container" style="padding-top: 1rem">
        <div class="d-flex justify-content-center h-100">           
            <div class="card">
                <div class="card-header">
                    <h3 i18n="@@loginscreen_f_header">Sign In</h3>
                </div>
                <div class="card-body">
                    <form class="login-form" name="form" (ngSubmit)="f.form.valid &&  login()" #f="ngForm" nonvalidate>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <fa name="user"></fa>
                                </span>
                            </div>
                            <input type="text" class="form-control" name="userName" [(ngModel)]="loginObject.userName"
                                #userName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userName.invalid}"
                                placeholder="Login name" required i18n-placeholder="@@lognscreen_f_user_name">
                            <div *ngIf="f.submitted && userName.invalid" class="invalid-feedback">
                                <div *ngIf="userName.errors.required" i18n="@@loginscreen_f_v_user_name">Login Name is required</div>
                            </div>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <fa name="key"></fa>
                                </span>
                            </div>
                            <input type="password" class="form-control" name="password"
                                [(ngModel)]="loginObject.password" #password="ngModel"
                                [ngClass]="{'is-invalid':f.submitted && password.invalid }" placeholder="Password"
                                required i18n-placeholder="@@lognscreen_f_password">
                            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                                <div *ngIf="password.errors.required" i18n="@@loginscreen_f_v_password">Password is required</div>
                            </div>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <fa name="language"></fa>
                                </span>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" onchange="location = '/' + this.value + '/login';">
                                <option selected>Choose Language</option>
                                <option *ngFor="let locale of languages" [value]="locale.code">                                    
                                    {{locale.text}}
                                </option>
                            </select>
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox"><span i18n="@@loginscreen_f_rem_me">Remember Me</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn float-right login_btn"
                                i18n="@@loginscreen_f_login_btn">Login</button>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </div>
</div>